body {
  display: flex;
  flex-direction: column;
}

.border-left-none {
  border-left: hidden !important;
}

.calendarTitle {
  font-weight: bolder;
  text-align: center;
}

.backgroundColour {
  background-color: blanchedalmond !important;
}

.cellSelected {
  background-color: blueviolet;
}

.regularCell {
  background-color: white;
}

#dynamic-tabs {
  margin-bottom: 0px !important;
  position: sticky;
  top: 0px;
  z-index: 100;
}

#page-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#content-container {
  transform: none !important;
  margin-top: 15px;
}

/** 
 * Group sidebar and items
 */
.group-item-container {
  /* min-height: 71px; */
  padding: 16px 8px 16px 8px !important;
  width: 100%;
  display: flex !important;
  flex-direction: row !important;
  gap: 5px;
  justify-content: start;
  align-items: center;
}

.group-selected {
  background-color: #3d3e3f !important;
  color: white !important;
}

.group-content-container {
  min-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
}

.group-content-container > span {
  overflow-wrap: break-word;
  max-width: 100%;
}

.group-content-container > .icon {
  margin-right: 0px !important;
}
