body {
  display: flex;
  flex-direction: column;
}

.border-left-none {
  border-left: hidden !important;
}

.calendarTitle {
  font-weight: bolder;
  text-align: center;
}

.backgroundColour {
  background-color: blanchedalmond !important;
}

.cellSelected {
  background-color: blueviolet;
}

.regularCell {
  background-color: white;
}

#dynamic-tabs {
  margin-bottom: 0px !important;
  position: sticky;
  top: 0px;
  z-index: 100;
}

#page-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#content-container {
  transform: none !important;
  margin-top: 15px;
}

.active {
  background-color: #e6e6e6;
}
