.border-left-none {
  border-left: hidden !important;
}

.calendarTitle {
  font-weight: bolder;
  text-align: center;
}

.cellSelected {
  background-color: blueviolet;
}

.regularCell {
  background-color: white;
}
